.ctn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: var(--dark);
  height: 10em;
}

.ctn .title {
  font-size: 2em;
  text-shadow: 1px 1px 0 var(--blackShadow);
  font-weight: 500;
}

.ctn .description {
  font-size: 1em;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .ctn .title {
    margin: 25% 10% 10%;
    font-size: 1.5em;
  }
  .ctn .description {
    margin: 2% 6%;
  }

}